<div class="plan plan--pupolar" style="padding: 4rem;">
  <div class="card card--seconday">
    <header class="card__header">
      <!-- <img src="../SVG/popular.svg" alt=""> -->
      <h3 class="plan__name">Entry</h3>
      <span class="plan__price">$14</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--secondary badge--small">10% OFF</span>
      <span class="plan__discription">Easy Start on the cloud</span>
    </header>

    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">lable 1</li>
        <li class="list__item">lable 2</li>
        <li class="list__item">lable 3</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>