    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading ">Item 1</h2>
        <span class="icon-container">
          <img class="collapsible__icon" src="../SVG/1024px-OOjs_UI_icon_collapse.svg.png" alt="">
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
          temporibus adipisci officiis et repudiandae consequatur?
        </p>
      </div>
    </div>
    <script src="../JAVASCRIPT/main.js"></script>